header{
    display: flex;
    width: 100vw;
    justify-content: space-around;
    background-color: var(--blue);
    border-bottom: 1px solid grey;
    color: white;
}
nav {
    width: 100%;
}

header nav ul{
    padding: 10px 0;
    gap: 60px;
    display: flex;
    list-style: none;
    width: fit-content;
}

.nav-buttons{
    display: block;
    font-size: 1.5rem ;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 950px) {
    header {
        width: 100vw;
        flex-direction: column;
    }
    nav {
        width: 100%;
    
    }
    header nav ul {
        justify-content: space-evenly;
        gap: 0;
        width: 100%;
    }
    .nav-buttons {
        display: block;
        font-size: 1.2rem;
    }
}
