.tagButton{
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 2rem;
    border: 0.5px solid white;
    font-size: 1rem;
    background-color: var(--dark);
    color: white;
    cursor: pointer;
    transition: scale 0.3s;
}

.tagButton:hover{
    scale: 1.1;
    /* box-shadow: rgba(255, 255, 255, 0.25) 0px 5px 6px -5px inset, rgba(255, 255, 255, 0.3) 0px 15px 6px -5px inset; */
    background: linear-gradient(45deg, var(--blue), var(--dark));
}